[submodule "awesome/tyrannical"]
	path = awesome/tyrannical
	url = https://github.com/Elv13/tyrannical
[submodule "picom/awesome/tyrannical"]
	path = picom/awesome/tyrannical
	url = https://github.com/Elv13/tyrannical
[submodule "picom/zsh/custom/plugins/zsh-syntax-highlighting"]
	path = picom/zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "picom/zsh/custom/plugins/zsh-autosuggestions"]
	path = picom/zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
